* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
}

.header {
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(79, 79, 79, 0.7)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  overflow: hidden;
}
.header .nav {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
}
.header .nav__logo {
  padding-top: 5px;
  object-fit: cover;
  justify-items: center;
  align-items: center;
}
.header .nav__link {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
}
.header .nav__link:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.header__title {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 100px 50px 30px;
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7450980392), #ffffff) 0 0/400% 100%;
  animation: move-bg 4s infinite reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.header__subTitle {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(104, 113, 173);
  text-shadow: 1px 1px 4px rgba(122, 111, 180, 0.649);
  text-align: center;
  text-transform: uppercase;
}

.information__text {
  font-size: 1.2rem;
}

.information__info {
  background-color: rgb(217, 217, 217);
  margin: 20px 40px;
  text-align: center;
  padding: 5px 10px;
}
.information__info .information__title {
  text-transform: uppercase;
  color: rgb(87, 97, 162);
}
.information__info .information__list {
  list-style: none;
  line-height: 1.5rem;
  padding: 0;
}
.information__info .information__item {
  font-weight: 100;
}

.AboutUs {
  display: grid;
  grid-template-rows: 200px 1fr;
  margin: 30px 0;
}
.AboutUs__text {
  text-align: center;
  margin: 0 30px;
}
.AboutUs__img {
  justify-self: center;
  width: 360px;
  height: 320px;
}
.AboutUs__SubTitle {
  color: rgb(104, 113, 173);
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 40px 0 20px 0;
}

.card__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: 20px 5px;
  row-gap: 1rem;
}
.card__container--container {
  width: 250px;
  min-height: 300px;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 15px;
}
.card__container--container .card__icon {
  width: 50px;
  height: 50px;
  font-size: 5rem;
  text-align: center;
  justify-self: center;
  padding: 0 auto;
}
.card__container--container .card__title {
  font-size: 1.5rem;
  color: rgb(104, 113, 173);
  font-weight: 500;
  padding: 10px 0 25px 0;
  text-transform: uppercase;
}
.card__container--container .card__text {
  line-height: 1.1rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.card__container2 {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: 20px 5px;
  row-gap: 1rem;
}
.card__container2 .card__container--container2 {
  width: 470px;
  min-height: 300px;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 15px;
}
.card__container2 .card__container--container2 .card__icon {
  width: 50px;
  height: 50px;
  font-size: 5rem;
  text-align: center;
  justify-self: center;
  padding: 0 auto;
}
.card__container2 .card__container--container2 .card__title {
  font-size: 1.5rem;
  color: rgb(104, 113, 173);
  font-weight: 500;
  padding: 10px 0 25px 0;
  text-transform: uppercase;
}
.card__container2 .card__container--container2 .card__text {
  line-height: 1.1rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.footer {
  width: 100%;
  margin: 30px 0;
}
.footer__container {
  border-top: 1.5px solid rgb(104, 113, 173);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(80px, auto));
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}
.footer__img {
  object-fit: cover;
}
.footer__text {
  color: rgb(158, 158, 158);
}
.footer__icons a {
  text-decoration: none;
}
.footer__icon {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}

@media (min-width: 600px) {
  .AboutUs {
    display: grid;
    grid-template-rows: 130px 1fr;
  }
  .card__container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
  .footer {
    width: 100%;
    margin: 30px 0;
  }
  .footer__container {
    border-top: 1.5px solid rgb(104, 113, 173);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin: 0 40px;
  }
}
@media (min-width: 1200px) {
  .information__info {
    margin: 20px 250px;
  }
  .card__container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
  }
}

/*# sourceMappingURL=style.css.map */
