* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
}

.header {
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(79, 79, 79, 0.7)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  overflow: hidden;
}
.header .nav {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
}
.header .nav__logo {
  padding-top: 5px;
  object-fit: cover;
  justify-items: center;
  align-items: center;
}
.header .nav__link {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  transition: 0.6s;
}
.header .nav__link:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.header .nav__link--active {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.header__title {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 100px 50px 30px;
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7450980392), #ffffff) 0 0/400% 100%;
  animation: move-bg 4s infinite reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.header__subTitle {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(104, 113, 173);
  text-shadow: 1px 1px 4px rgba(122, 111, 180, 0.649);
  text-align: center;
  text-transform: uppercase;
}

.numbers {
  background-color: #252525;
  color: rgb(255, 255, 255);
  padding: 5px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}
.numbers__tel {
  margin: 0;
  font-size: 14px;
}

.information__text {
  font-size: 1.2rem;
}

.information__info {
  background-color: rgb(217, 217, 217);
  margin: 20px 40px;
  text-align: center;
  padding: 5px 10px;
}
.information__info .information__title {
  text-transform: uppercase;
  color: rgb(87, 97, 162);
}
.information__info .information__list {
  list-style: none;
  line-height: 1.5rem;
  padding: 0;
}
.information__info .information__item {
  font-weight: 100;
}

.AboutUs {
  width: 100%;
  height: auto;
  display: grid;
  margin: 30px 0;
  position: relative;
}
.AboutUs__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  row-gap: 2em;
  padding: 10px;
  width: auto;
}
.AboutUs__container .AboutUs__text {
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  justify-self: center;
}
.AboutUs__container .AboutUs__img {
  justify-self: center;
  width: 600px;
  height: 400px;
  object-fit: contain;
}
.AboutUs__SubTitle {
  color: rgb(104, 113, 173);
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 40px 0 0 0;
}

.card__container {
  display: grid;
  grid-template-columns: 350px;
  justify-content: center;
  justify-items: center;
  margin: 20px 5px;
  row-gap: 2rem;
}
.card__container--container {
  width: 250px;
  min-height: 300px;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 15px;
}
.card__container--container .card__icon {
  width: 50px;
  height: 50px;
  font-size: 5rem;
  text-align: center;
  justify-self: center;
  padding: 0 auto;
}
.card__container--container .card__title {
  font-size: 1.5rem;
  color: rgb(104, 113, 173);
  font-weight: 500;
  padding: 10px 0 25px 0;
  text-transform: uppercase;
}
.card__container--container .card__text {
  line-height: 1.1rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.card__container2 {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: 20px 5px;
  row-gap: 1rem;
}
.card__container2 .card__container--container2 {
  width: 470px;
  min-height: 300px;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 15px;
}
.card__container2 .card__container--container2 .card__icon {
  width: 50px;
  height: 50px;
  font-size: 5rem;
  text-align: center;
  justify-self: center;
  padding: 0 auto;
}
.card__container2 .card__container--container2 .card__title {
  font-size: 1.5rem;
  color: rgb(104, 113, 173);
  font-weight: 500;
  padding: 10px 0 25px 0;
  text-transform: uppercase;
}
.card__container2 .card__container--container2 .card__text {
  line-height: 1.1rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.found {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 2em 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.found__title {
  color: rgb(104, 113, 173);
  text-transform: uppercase;
}

.services {
  width: 100%;
  padding: 50px;
  margin: 30px 0;
}
.services__text {
  margin: 5px 0 15px;
  text-align: center;
}
.services__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.4rem;
  color: rgb(104, 113, 173);
  text-transform: uppercase;
  margin-bottom: 50px;
}

.cards {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  column-gap: 1.5em;
}
.cards__container {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  row-gap: 2em;
}
.cards__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(79, 79, 79, 0.7));
}
.cards__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(104, 113, 173, 0.5);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards__hover--title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
.cards__hover--text {
  color: rgb(255, 255, 255);
  font-weight: 200;
  text-align: center;
}
.cards__hover--text .text__span {
  color: rgb(207, 207, 207);
}
.cards__container:hover .cards__hover {
  transform: scale(0);
}

.section2 {
  width: 100%;
  display: grid;
}
.section2__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 2em;
  justify-content: center;
}
.section2__container--1 img, .section2__container--2 img {
  width: 330px;
  height: 330px;
}

.client {
  display: grid;
  grid-template-rows: 300px 1fr;
  width: 100%;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}
.client__title {
  text-align: center;
  color: rgb(104, 113, 173);
  font-size: 2.3rem;
  font-weight: 500;
}
.client__text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
.client__img {
  width: 100%;
}

.contact__body {
  color: rgb(255, 255, 255);
  background-color: #252525;
}

.nav {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
}
.nav__logo {
  padding-top: 5px;
  object-fit: cover;
  justify-items: center;
  align-items: center;
}
.nav__link {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
}
.nav__link:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.nav__link--active {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, auto));
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(79, 79, 79, 0.7)), url(../img/slide-1.avif);
  background-size: cover;
  background-position: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.form {
  height: 90vh;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__container {
  width: 100%;
  max-width: 450px;
  position: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 30px 0 rgba(48, 48, 51, 0.4);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form__box {
  border-color: rgb(255, 255, 255);
  border: 1px solid var(rgba(180, 180, 180, 0.5411764706));
  padding: 40px 50px;
  border-radius: 20px;
  backdrop-filter: blur;
}
.form__title {
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.form__container--form {
  margin: 25px 0 20px;
}
.form__box--input {
  margin: 25px;
}
.form__input {
  display: grid;
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(104, 113, 173, 0.8);
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
.form__input::placeholder {
  color: rgb(255, 255, 255);
}
.form__label {
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
}
.form__checks {
  font-size: 13px;
  align-items: flex-start;
  font-weight: 300;
}
.form__checks a {
  color: rgb(104, 113, 173);
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
}
.form__checks a:hover {
  color: rgb(255, 255, 255);
}
.form .btn__neon {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  /*color: $blanco;*/
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.465)) 0 0/400% 100%;
  animation: move-bg 3s infinite alternate-reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
  border: none;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.form .btn__neon:hover {
  background: rgb(104, 113, 173);
  box-shadow: 0 0 10px rgba(102, 117, 215, 0.553), 0 0 40px rgba(102, 117, 215, 0.553), 0 0 80px rgba(102, 117, 215, 0.553);
  transition-delay: 1.25s;
  color: rgb(255, 255, 255);
}
.form .btn__neon span {
  position: absolute;
  display: block;
}
.form .btn__neon #span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgba(102, 117, 215, 0.553));
}
.form .btn__neon:hover #span1 {
  left: 100%;
  transition: 1s;
}
.form .btn__neon #span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(102, 117, 215, 0.553));
}
.form .btn__neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.form .btn__neon #span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgba(102, 117, 215, 0.553));
}
.form .btn__neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.form .btn__neon #span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(102, 117, 215, 0.553));
}
.form .btn__neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.information2 {
  height: 100vh;
  margin: auto 0;
  width: 450px;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
}
.information2__container {
  height: 80%;
  width: 100%;
  margin: auto 0;
}
.information2__container--title {
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0;
}
.information2__container--container {
  padding-left: 20px;
  margin-left: 1px;
  border-bottom: 1px solid rgb(104, 113, 173);
  border-left: 1px solid rgb(104, 113, 173);
}
.information2__container--container--list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding-left: 20px;
  justify-content: center;
  justify-items: left;
  align-items: center;
}
.information2__container--container--list img {
  width: 24px;
  height: 24px;
  padding-right: 5px;
}
.information2__container--container--text {
  font-size: 15px;
}
.information2__container--container--items {
  margin-top: 10px;
  justify-content: left;
  padding-top: 5px;
}
.information2__container--container--site {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.bsas {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.footer {
  width: 100%;
  margin: 30px 0 10px 0;
  bottom: 0px;
}
.footer__container {
  border-top: 1.5px solid rgb(104, 113, 173);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(80px, auto));
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}
.footer__img {
  object-fit: cover;
}
.footer__list {
  list-style: none;
  color: rgb(183, 179, 179);
}
.footer__list .footer__text2 {
  display: none;
}
.footer__list .footer__text2--link {
  text-decoration: none;
  color: rgb(107, 107, 107);
}
.footer__list .footer__text2--link:hover {
  color: rgb(104, 113, 173);
}
.footer__icons a {
  text-decoration: none;
}
.footer__icon {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}

@media (min-width: 360px) {
  .card__container2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 20px 5px;
    row-gap: 1rem;
  }
  .card__container2 .card__container--container2 {
    width: 350px;
    min-height: 300px;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 15px;
  }
  .card__container2 .card__container--container2 .card__icon {
    width: 50px;
    height: 50px;
    font-size: 5rem;
    text-align: center;
    justify-self: center;
    padding: 0 auto;
  }
  .card__container2 .card__container--container2 .card__title {
    font-size: 1.5rem;
    color: rgb(104, 113, 173);
    font-weight: 500;
    padding: 10px 0 25px 0;
    text-transform: uppercase;
  }
  .card__container2 .card__container--container2 .card__text {
    line-height: 1.1rem;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: capitalize;
  }
  .form {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
  }
  .information {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
  }
  .information2 {
    width: 360px;
  }
  .AboutUs {
    width: auto;
  }
  .AboutUs__container {
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  }
  .AboutUs__container .AboutUs__img {
    justify-self: center;
    width: 340px;
    height: 300px;
  }
}
@media (min-width: 480px) {
  .card__container2 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 20px 5px;
    row-gap: 1rem;
  }
  .card__container2 .card__container--container2 {
    width: 470px;
    min-height: 300px;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 15px;
  }
  .card__container2 .card__container--container2 .card__icon {
    width: 50px;
    height: 50px;
    font-size: 5rem;
    text-align: center;
    justify-self: center;
    padding: 0 auto;
  }
  .card__container2 .card__container--container2 .card__title {
    font-size: 1.5rem;
    color: rgb(104, 113, 173);
    font-weight: 500;
    padding: 10px 0 25px 0;
    text-transform: uppercase;
  }
  .card__container2 .card__container--container2 .card__text {
    line-height: 1.1rem;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: capitalize;
  }
  .form {
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
  }
  .information {
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
  }
  .information2 {
    width: 450px;
  }
  .AboutUs {
    width: auto;
  }
  .AboutUs__container {
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  }
  .AboutUs__container .AboutUs__img {
    justify-self: center;
    width: 400px;
    height: 340px;
  }
}
@media (min-width: 600px) {
  .AboutUs {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .card__container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
  .footer {
    width: 100%;
    margin: 30px 0;
  }
  .footer__container {
    border-top: 1.5px solid rgb(104, 113, 173);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin: 0 40px;
  }
  .footer__list {
    list-style: none;
    color: rgb(183, 179, 179);
  }
  .footer__list .footer__text2 {
    display: block;
  }
  .client {
    display: grid;
    grid-template-rows: 200px 1fr;
  }
  .found {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .AboutUs {
    width: auto;
  }
  .AboutUs__container {
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  }
  .AboutUs__container .AboutUs__img {
    justify-self: center;
    width: 500px;
    height: 380px;
  }
  .AboutUs__SubTitle {
    padding-top: 200px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 7rem;
  }
  .information__info {
    margin: 20px 250px;
  }
  .cards {
    grid-template-columns: repeat(5, 230px);
    justify-content: center;
  }
  .card__container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
  }
  .client {
    display: grid;
    grid-template-rows: 150px 1fr;
  }
  .AboutUs {
    width: auto;
  }
  .AboutUs__container {
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  }
  .AboutUs__container .AboutUs__img {
    justify-self: center;
    width: 600px;
    height: 440px;
  }
  .section2 img {
    width: 500px;
    height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
