.information__text{
  font-size: 1.2rem;
  padding: 20px 0;
}

.information__info{
  background-color: rgb(217, 217, 217);
  margin: 20px 40px;
  text-align: center;
  padding: 5px 10px;

  .information__title{
    text-transform: uppercase;
    color: rgb(87, 97, 162);
  }

  .information__list{
    list-style: none;
    line-height: 1.5rem;
    padding: 0;
  }

  .information__item{
    font-weight: 100;
  }
}