@media (min-width: 600px){

  .AboutUs{
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .card__container{
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }

  .footer{
    width: 100%;
    margin: 30px 0;
    
    &__container{
      border-top: 1.5px solid $blue;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      justify-items: center;
      align-items: center;
      margin: 0 40px;
    }

    &__list{
      list-style: none;
      color: rgb(183, 179, 179);
  
      .footer__text2{
        display: block;
      }
    }
  }

  .client{
    display: grid;
    grid-template-rows: 200px 1fr;
  }

  .found{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .AboutUs{
    width: auto;
    &__container{
      grid-template-columns: repeat(auto-fit, minmax(500px, auto));
      .AboutUs__img{
        justify-self: center;
        width: 500px;
        height: 380px; 
      }
    }

    &__SubTitle{
      padding-top: 200px;
    }
  }
}
