@media (min-width: 1200px){

  .header__title{
    font-size: 7rem;
  }

  .information__info{
    margin: 20px 250px;
  }

  .cards{
    grid-template-columns: repeat(5, 230px);
    justify-content: center;
    
  }

  .card__container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
  }

  .client{
    display: grid;
    grid-template-rows: 150px 1fr;
  }

  .AboutUs{
    width: auto;
    &__container{
      grid-template-columns: repeat(auto-fit, minmax(450px, auto));
      .AboutUs__img{
        justify-self: center;
        width: 600px;
        height: 440px; 
      }
    }
    &__img--2{
      width: 750px;
      height: 420px;
    }
  }

  .section2{
    & img{
      width: 500px;
      height: 500px;
    }
  }
}
